.friend_list {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 5px;
}
.item {
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin: 10px auto;
  list-style: none;
  display: flex;
  box-shadow: -4px 6px 11px 0px rgba(0, 0, 0, 0.75);
  align-items: center;
  cursor: pointer;
}
.item > span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto 15px;
}
.active {
  background-color: green;
}
.inActive {
  background-color: red;
}
.avatar {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}
.name {
  font-size: 34px;
  margin-left: 30px;
}
